div#about-main.container     {
    position: absolute;
    max-width: inherit;
    max-height: max-content;
    height: 100%;
    background-color: rgba(132, 136, 138, 0.6);
}

div#story-panel {
    margin: 25px 25px 0px 25px;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div#story-panel a {
    font-weight: bold;
}

div#story-panel .list-group li { 
    color: white;
    background-color: transparent;
    border-bottom-color: white; 
    border-bottom-style: none;
    max-width: 200px;
}

div#story-panel > p {
    font-family: 'Lato', sans-serif;
    font-size: 1.10em;
}

#wall-street-image {
    border-radius: 50%;
    height: 256px;
    width: 256px;
    object-fit:cover;
}