div#about-main.container     {
    position: absolute;
    max-width: inherit;
    max-height: max-content;
    height: 100%;
    background-color: rgba(116, 112, 104, 0.6);
}

div#story-panel {
    margin: 25px 25px 0px 25px;
    padding: 10px 10px 0px 10px;
    width: 66%;
    height: 50%;  
}

div#story-panel > h3::after {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    content: "";
    display: block;
    width: 10%;
    padding-top: 15px;
    border-bottom: 2px solid #fff; 
}

div#story-panel > p {
    font-family: 'Lato', sans-serif;
    font-size: 1.10em;
}

div#image-panel {
    float: right;
    background: url('../images/img-1.jpg') center center/cover no-repeat;
    background-size: contain;
    margin: -200px 25px 25px 25px;
    padding: 0px 10px 10px 10px;
    width: 85%;
    height: 75%;
}


