#filing-data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 25px;
    margin-left: 25px;
}

#filing-data h1 {
    padding-bottom: 50px;
}

#filing-data table {
    align-self: center;
}

#filing-data td, #filing-data th {
    border: 5px solid #ddd;
    padding: 8px;
}
  
#filing-data tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
/* .filing-date td:hover {
    background-color:;
} */
  
#filing-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3d4042;
    color: white;
}