#table-container {
    padding: 0 0 10px 0;
}

#table-container tr {
    padding-top: 20px;
    padding-bottom: 20px;
}
#table-container thead {
    background-color: rgb(247, 247, 248);
    color: rgb(150, 150, 180);
}



