.footer {
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(90deg, rgb(175, 170, 170) 0%, rgb(6, 12, 15) 100%);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(219, 213, 213);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}