#table-container h2 {
    padding: 50px 0 50px 0;
    font-family: 'Optimist', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#table-container tr {
    padding-top: 20px;
    padding-bottom: 20px;
}
#table-container thead > tr > th {
    font-family: 'Interstate_Light', sans-serif, Arial;
    font-size: 1.5rem;
    font-weight: 200;
    color: rgb(150, 150, 180);
}

.company-page-link-style {
    text-decoration: none;
    color: rgb(140, 140, 144);
}

#table-container tbody > tr > td, #table-container tbody > tr > td > a {
    font-family: 'Interstate_Light', sans-serif, Arial;
}







