#table-container {
    padding: 0 0 10px 0;
}

#table-container tr {
    padding-top: 20px;
    padding-bottom: 20px;
}
#table-container thead {
    background-color: rgb(247, 247, 248);
    color: rgb(150, 150, 180);
}

.company-page-link-style {
    text-decoration: none;
    color: rgb(140, 140, 144);
}

#table-container .company-page-link-style tr > td > a:hover {
    color: red;
}




