#table-container {
    padding: 0 0 125px 0;
}

#table-container thead > tr > th {
    background-color: #eff0f3;
    color: #0d0d0d;
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

#table-container tbody > tr > td, #table-container tbody > tr > td > a {
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

#table-container tbody {
    background-color: none;
}

#table-container {
    margin: 30px;
}

#table-container tbody > tr > td.company-name {
    padding-top: 25px;
    padding-bottom: 25px;
}

#table-container tbody > tr > td.company-name {
    padding-top: 25px;
    padding-bottom: 25px;
}

#table-container tbody > tr > td > p.company-initials {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
}

#table-container tbody > tr > td > div.company-initials-container {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;
    border-radius: 50%;

    padding-top: 25px;
    padding-bottom: 25px;

    background-color: #785589;
    color: white;
    text-align: center;
}

#table-container tbody > tr > td > div.company-initials-container > p { 
    font-family: cursive;
}

#table-container tbody > tr > td.filing-count {
    padding-top: 25px;
    padding-bottom: 25px;
}

.company-page-link-style {
    text-decoration: none;
    color: rgb(140, 140, 144);
}

a.company-page-link-style:hover {
   color: black;
}




