#home-search form {
    float: left; 
    padding: 20px; 
    margin: 20px;
}

#home-search input {
    height: 57px;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

#home-search input:focus {
    border-color: black;
    color:#fff;    
}

#home-search input::placeholder {
    color: #fff;
}

#bar-search form {
    padding: 20px 0 50px 20px;
    margin-bottom: 10px
}

#bar-search input {
    background-color: transparent;
    border-color: #fff;
    width: 175px;
    height: 30px;
    color: #fff;
}